* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  min-height: 900px;
}

.preloader{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 35%;
}

.switch_between_cards_and_trees{
	margin-top: 70px;
	margin-bottom: 0;
}

.cards_view {
  /* padding: 10px; */
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.tree{
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.pagination{
  display: flex;
  justify-content: center;
  height: 100px;
}