* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  min-height: 900px;
}

.cards {
  /* padding: 10px; */
  margin-top: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.pagination{
  display: flex;
  justify-content: center;
  height: 100px;
}